@media (max-width:640px) {
    .profile__name{
        font-size: 3rem;
    }
    .section__title{
        font-size: 64px;
    }
    .description__text{
        font-size: 24px;
    }
    .contato{
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .social-container{
        display: flex;
        flex-direction: column;
    }
}