@media (max-width:960px) {
   .menu {
      display: none;
   }
   .menuzinho{
      display: block;
      font-size: 2rem;
      width: 100px;
   }
   .profile {
      flex-direction: column;
   }

   .profile__text {
      flex-direction: column;
      display: flex;
      align-items: center;
   }

   .profile__name {
      flex-direction: column;
   }

   .section__title {
      font-size: 140px;
   }

   .description__title {
      font-size: 48px;
      display: flex;
      align-self: center;
   }

   .description__text {
      font-size: 24px;
      display: flex;
      align-self: center;
   }

   .sobre-mim {
      display: flex;
      flex-direction: column;
      height: auto;
   }

   .skills__title {
      font-size: 48px;
      align-self: center;
   }

   .skills__icons {
      display: flex;
      justify-content: center;
      align-items: center;
   }
.projetos{
   height: auto;
}
   .skills__icon {
      width: 200px;
      height: 200px;
   }
   .card__container{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .card img{
      width: 600px;
   }
   .voltar{
      display: none;
   }
}